.walletItem {
  background rgb(13, 28, 43)
  // border 1px solid #dfdfdf
  border-radius 15px
  margin 10px 0
  cursor pointer

  height 80px
  width 100%

  justify-content center
  align-items center
  flex-direction row

  img {
  }

  font-size 20px
  color white
  font-weight bold

  &.selected {
    border 3px solid #6751ff
  }
}

.description {
  background: #f6f7fb;
  border-radius: 5px;
  padding: 15px 20px;
  margin-top 20px
  text-align center;
  margin-bottom:20px;
}